@model List<Social_Media_Project.Models.MediaPost>
<link href="~/css/stylesheet.css" rel="stylesheet" />
@{
    ViewData["Title"] = "UserAccountPage";
}

@if (TempData["errorMessage"] != null)
{
    <script>
        toastr.error("@TempData["errorMessage"]");
    </script>
}
@if (TempData["successMessage"] != null)
{
    <script>
        toastr.success("@TempData["successMessage"]");
    </script>
}


<div class="fix-AlignHomePage">
    <div>
        <div class="UserAccountPage-Data">
            <div class="profilePicStyle">
                <div class="profilePic-Align">
                    @* <img src="@ViewBag.ProfilePhotoPath" alt="Profile Photo" class="userAccountPage-ProfileImg" /> *@
                    <img src="~/images/userdata/dsc_0002.jpg" alt="Profile Photo" class="userAccountPage-ProfileImg" />
                </div>
                @* <div>@ViewBag.Fullname</div>   *@
                <div>Trilok Chand Swami</div>
            </div>
            <div class="UserAccountPage-ProfileSection">
                <div class="ProfileStat">
                    <div>6</div>
                    <div>posts</div>
                </div>
                <div class="ProfileStat">
                    <div>5</div>
                    <div>followers</div>
                </div>
                <div class="ProfileStat">
                    <div>5</div>
                    <div>following</div>
                </div>
            </div>
        </div>
        <div class="UserAccountPage-BioSection">
            <p><strong>10/02/2003</strong></p>
            @* <p><strong>@ViewBag.DateOfBirth</strong></p> *@
            <br />
            @*   <p>@ViewBag.Bio</p> *@
            <p>
                Talk is cheap. Show me the code." - Linus Torvalds
                "Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away." - Antoine de Saint-Exupéry
                "Simplicity is the soul of efficiency." - Austin Freeman
                "Programs must be written for people to read, and only incidentally for machines to execute." - Harold Abelson
            </p>
        </div>
        <div class="UserAccountPage-BioSection bioEdit">
            <a class="childBioEdit" href="#">Edit Profile</a>
            <a class="childBioEdit" href="#">Share Profile</a>
        </div>
        <div class="homepage-PhotoSection">
            @*   @foreach (var post in Model)
            { *@
            <div class="PhotoSection-Child">
                @*       <img src="@post.PhotoPath" alt="Post Photo" class="PhotoSectionImg" /> *@
            </div>
            @* } *@
        </div>
        <div class="bottom-buttons">
            <a class="feed" href="@Url.Action("Feed","Account")">Following Feed</a>
            <a class="search" href="@Url.Action("SearchProfile","Account")">Search Profile</a>
            <a class="add-post" href="@Url.Action("AddPost","Account")">Add Post</a>
            <a class="home" href="@Url.Action("UserAccountPage","Account")">Home</a>
        </div>
    </div>
</div>
