@using Social_Media_Project.Models
@model Account

@{
    ViewData["Title"] = "UserAccountPage";
}
@if (TempData["errorMessage"] != null)
{
    <script>
        toastr.error("@TempData["errorMessage"]");
    </script>
}
@if (TempData["successMessage"] != null)
{
    <script>
        toastr.success("@TempData["successMessage"]");
    </script>
}

<style>
    .UserAccountPage-ProfileSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .UserAccountPage-Data {
        display: flex;
        justify-content: space-evenly;
        border: 1px solid;
        padding: 15px;
        width: 600px;
    }

    .userAccountPage-ProfileImg {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        padding: 2px;
        border-radius: 50%;
    }

    .profilePicStyle {
        padding: 10px;
        width: 50%;
        text-align: center
    }

    .profilePic-Align {
        display: flex;
        justify-content: center;
    }

    .fix-AlignHomePage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .UserAccountPage-BioSection {
        border: 1px solid black;
        padding: 30px;
        height: auto;
        width:600px;
    }

    .bioEdit {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width:600px;
    }

    .childBioEdit {
        border: 1px solid black;
        padding: 10px;
        background-color: #767474;
        border-radius: 17px;
        text-decoration: none;
        color: white;
    }

    .homepage-PhotoSection {
        border: 1px solid black;
        height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .ProfileSectionAlign {
        text-align: center;
    }
</style>

<div class="fix-AlignHomePage">
    <div>
        <div class="UserAccountPage-Data">
            <div class="profilePicStyle">
                <div class="profilePic-Align"><img src="@Model.ProfilePhotoPath" alt="profile photo" class="userAccountPage-ProfileImg" /></div>
                <div>@Model.Fullname</div>
            </div>
            <div class="UserAccountPage-ProfileSection">
                <div class="ProfileSectionAlign"><div>6</div><div>posts</div></div>
                <div class="ProfileSectionAlign"><div>5</div><div>followers</div></div>
                <div class="ProfileSectionAlign"><div>5</div><div>following</div></div>
            </div>
        </div>
        <div class="UserAccountPage-BioSection">
            <p>@Model.Bio</p>
        </div>
        <div class="UserAccountPage-BioSection bioEdit">
            <div>
                <a class="childBioEdit">
                    Edit Profile
                </a>
            </div>
            <div>
                <a class="childBioEdit">
                    Share Profile
                </a>
            </div>
        </div>
        <div class="homepage-PhotoSection">
        </div>
    </div>
</div>

