@model List<Social_Media_Project.Models.MediaPost>
<link href="~/css/stylesheet.css" rel="stylesheet" />
<script src="~/js/html2pdf.bundle.js"></script>
@{
    ViewData["Title"] = "UserAccountPage";
}

@if (TempData["errorMessage"] != null)
{
    <script>
        toastr.error("@TempData["errorMessage"]");
    </script>
}
@if (TempData["successMessage"] != null)
{
    <script>
        toastr.success("@TempData["successMessage"]");
    </script>
}
<style>

    #dataDownload {
        text-align: center;
        display: none;
        width: 100%;
        border-collapse: collapse;
    }

        #dataDownload th, #dataDownload td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

    #photo-container {
        text-align: center;
        margin-top: 10px;
    }

    #profile-photo {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 2px solid #ddd;
    }

    .pdfDownloadHeading {
        border: 1px solid black;
        width: 100%;
        background-color: black;
        color: white;
        padding: 2px;
    }

    .pdf-DataDownload {
        height: 200px;
        width: 200px;
    }

    .pdfDownloadTable {
        display: flex;
        justify-content: center;
    }
</style>
<div class="fix-AlignHomePage">
    <div style="width:800px;">
        <div style="border: 1px solid #ddd; display: flex; position: relative;">
            <div class="UserAccountPage-Data">
                <div class="profilePicStyle">
                    <div class="profilePic-Align">
                        <img src="@ViewBag.profilePhotoPath" alt="Profile Photo" class="userAccountPage-ProfileImg" />
                    </div>
                    <div>@ViewBag.fullname</div>
                </div>
                <div class="UserAccountPage-ProfileSection">
                    <div class="ProfileStat">
                        <div>@ViewBag.PostCount</div>
                        <div>posts</div>
                    </div>
                    <div class="ProfileStat">
                        <div>@ViewBag.Follower</div>
                        <div>followers</div>
                    </div>
                    <div class="ProfileStat">
                        <div>@ViewBag.Following</div>
                        <div>following</div>
                    </div>
                </div>
            </div>
            <div class="ProfileStat" style="position: relative; height: 20%;">
                <a href="#" class="backGroundIng-HomePage" onclick="js_homeSetting();">
                    <img src="/images/threeDot-com.svg" style="height:40px; padding:5px;" />
                </a>
                <ul class="d-none" id="homeSetting">
                    <li class="listData">
                        <a href="@Url.Action("ChatMessanger","Messanger")" class="text-decoration-none">Messages</a>
                    </li>
                    <li class="listData">
                        <a href="#logout" class="text-decoration-none">Block List</a>
                    </li>
                    <li class="listData">
                        <a href="#download-profile-data" onclick="generatePDF();" class="text-decoration-none">Download Profile Data</a>
                    </li>
                    <li class="listData">
                        <a href="@Url.Action("","")" class="text-decoration-none">Delete Account</a>
                    </li>
                    <li class="listData">
                        <a href="@Url.Action("Logout","Account")" class="text-decoration-none">Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="UserAccountPage-BioSection">
            <p><strong>DateOfBirth : @ViewBag.dateOfBirth?.ToString("dd/MM/yyyy")</strong></p>

            <p>@ViewBag.bio</p>
        </div>
        <div class="UserAccountPage-BioSection bioEdit">
            <a class="childBioEdit" href="@Url.Action("UpdateProfile","Account")?HdnView=1" style="color:white">Edit Profile</a>
            <a class="childBioEdit" href="@Url.Action("","")" style="color:white">Share Profile</a>
        </div>
        @if (Model != null)
        {
            <div class="homepage-PhotoSection">
                @foreach (var post in Model)
                {
                    <div class="forEach-AlignClass">
                        <div class="PhotoSection-Child">
                            <img src="@post.PhotoPath" alt="Post Photo" class="PhotoSectionImg" />
                        </div>
                        <div>@post.PostCaption</div>
                    </div>
                }
            </div>
        }
        <div class="fixed-bottom" style="margin: 0px 0px 25px 0px;">
            <div class="bottom-buttons">
                <a class="feed" href="@Url.Action("Feed", "Account")">Following Feed</a>
                <a class="search" href="@Url.Action("SearchProfile", "Account")">Search Profile</a>
                <a class="add-post" href="@Url.Action("AddPost", "Account")">Add Post</a>
                <a class="home" href="@Url.Action("UserAccountPage", "Account")">Home</a>
            </div>
        </div>
    </div>
    <div id="dataDownload">
        <h3 class="pdfDownloadHeading">Profile Data</h3>
        <div id="photo-container" style="display:flex; justify-content:center;">
            <img src="@ViewBag.profilePhotoPath" alt="Profile Photo" class="pdf-DataDownload" />
        </div>
        <div style="display:flex;justify-content:center; margin:15px;">
            <div class="pdfDownloadTable" style="width:90%;padding:5px;">
                <table>
                    <tr>
                        <th>Username</th>
                        <td id="profile-username">@ViewBag.username</td>
                    </tr>
                    <tr>
                        <th>Current Date</th>
                        <td>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <th>Date Of Birth</th>
                        <td>@ViewBag.dateOfBirth</td>
                    </tr>
                    <tr>
                        <th>Full Name</th>
                        <td id="profile-fullname">@ViewBag.fullname</td>
                    </tr>
                    <tr>
                        <th>Bio</th>
                        <td id="profile-bio">@ViewBag.bio</td>
                    </tr>
                    <tr>
                        <th>Followers</th>
                        <td id="profile-followers">@ViewBag.followers</td>
                    </tr>
                    <tr>
                        <th>Following</th>
                        <td id="profile-following">@ViewBag.following</td>
                    </tr>
                    <tr>
                        <th>Posts</th>
                        <td id="profile-posts">@ViewBag.posts</td>
                    </tr>
                </table>
            </div>
        </div>

        <p>This is the computer-generated receipt.</p>
    </div>
</div>


<script type="text/javascript">
    function js_homeSetting() {
        var element = document.getElementById('homeSetting');
        if (element.classList.contains('d-none')) {
            element.classList.remove('d-none');
            element.classList.add('show');
        } else {
            element.classList.remove('show');
            element.classList.add('d-none');
        }
    }


    function generatePDF() {
        const element = document.getElementById('dataDownload');
        element.style.display = 'block';
        html2pdf().from(element).set({
            margin: [0.5, 0.5, 0.5, 0.5],
            filename: 'profile-data.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: { scale: 8, logging: true, useCORS: true },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        }).save().then(() => {
            element.style.display = 'none';
        });
    }
</script>
