@model Social_Media_Project.Models.Account
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["errorMessage"] != null)
{
    <script>
        toastr.error("@TempData["errorMessage"]");
    </script>
}
@if (TempData["successMessage"] != null)
{
    <script>
        toastr.success("@TempData["successMessage"]");
    </script>
}

<div class="Center-Mobile IndexSignUp">
    <div class="d-inline-flex justify-content-between align-items-center">
        <div class="left-Mobile">
            <img src="../../images/mobile.jpg" class="left-Mobile-img" />
        </div>
        <div class="right-Mobile">
            <div class="right-Instagram">
                Dated
            </div>
            <form asp-controller="Account" asp-action="Login" method="post" id="loginForm">
                <div class="right-userInfo">
                    <div class="userInfo-Username">
                        <input asp-for="Username" id="Username" class="input-UserInfo" placeholder="Phone number, username or email address" required>
                    </div>
                    <div class="userInfo-Password">
                        <input asp-for="Password" id="Password" class="input-UserInfo" type="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="submit-SignUpButton">
                    <button type="submit" class="input-validate">
                        Log in
                    </button>
                </div>
                <div class="submit-SignUpButtonGoogle">
                    <a href="@Url.Action("GoogleLogin","Account")" class="input-validated">
                        Sign in with Google
                    </a>
                </div>
                <div class="right-Mobile login-form-link fixAlign">
                    <div class="text-center forgot-password">
                        <a href="@Url.Action("ForgottenPassword","Account")">Forgotten your password?</a>
                    </div>
                    <div class="signup-link">
                        Don't have an account? <a href="@Url.Action("Signup","Account")">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loginForm").validate({
            rules: {
                Username: { required: true },
                Password: { required: true }
            },
            messages: {
                Username: { required: "Please enter the Username" },
                Password: { required: "Please enter the Password" }
            }
        })
    })


</script>